/* #region common */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --boolando-orange: #ff6900;
    --boolando-discount: #ff0000;
    --boolando-green: #008000;
    --boolando-black: #1a1a1a;
}
/* #endregion common */

/*#region utility */
.format_tx{
    list-style: none;
    & a{
        text-decoration: none;
        color: white;
    }
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}
/*endregion utility */

/* #region layout */
.container{
	width: 80%;
	max-width: 1152px;
	margin: auto
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem
}

.col-3{
    width: calc((100% / 12) * 3);
}

.card img{
    width: 100%;
}

.brand{
    font-size: 0.8rem;
}

.description{
    font-size: 0.9rem;
    font-weight: 900;
}

.price{
    font-size: 0.83rem;
    font-weight: 900;
    color: var(--boolando-discount);
}

.old_price{
    font-size: 0.80rem;
    text-decoration: line-through;
}

/* .prime_img:hover + .d-none{
    display: block;
} */
    

/* #endregion layout */




/* #region header */
.site_header{
    height: 3.5rem;
    background-color: var(--boolando-orange);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.site_header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sizes{
    gap: 0.7rem;
    flex-grow: 1;
}

.logo{
    display: flex;
    height: 2rem;
    flex-grow: 2;
}

.nav_icons{
    flex-grow: 1;
    color: white;
}

.nav_icons i{
    margin: 0 0.2rem;
}

/* #endregion header */


/* #region main */
.site_main .container{
    padding-top: 5rem;
}

.site_main .col-3{
    margin: 0 0.5rem;
}

/* #endregion main */

/* #region DEBUG */
.debug .card{
    background: red;
    height: 20rem;
    border: solid 1px black;
}
/* #endregion DEBUG */